/* override */
html,body,h1,h2,h3,p,
div,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}

body{
	font-family:'Helvetica',sans-serif;
	font-size:16px;
}

h1{
	font-size:3rem;
	border-bottom:2px solid black;
}
h2{
	font-size:2rem;
}
a {
	border:1px solid red;
}

path{
	fill:rgb(0,0,255);
}

footer a{
	font-weight:bold;
	border:none;
}