/* Browser resets */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Layout */

.container {
	display: flex;
	flex-direction: column;
	flex-grow:
	/* Override Bootstrap container */
	margin: 0;
	padding: 0;
	max-width: 100%;
	min-height: 100%;
}

.main {
	/* Use flexbox for layout to acommodate overflow in the event that content exceeds the space available in a single screen. */
	flex: 1;
	display: flex;
	flex-direction: row;
}

.sidebar {
	flex: 1;
	flex-basis: 30%;
	color: #fff;
	background-color: #000;
	box-sizing: border-box;
	padding: 0.5rem;
}

.main-viz {
	flex: 1;
	flex-basis: 70%;
	padding: 0.5em;
	color: #000;
	background-color: #fff;
}

.footer {
	box-sizing: border-box;
	padding: 0.5em;
	height: 6.25rem;
	color: #fff;
	background-color: #333;
}

/* Modules */

.module {
	position: static;
	padding: 0.5em;
	border: 1px solid #333;
	border-radius: 0.5rem;
	height: 12.5rem;
}

.module + .module {
	margin-top: 0.5rem;
}
